{
	"plugins": ["@prettier/plugin-php", "@prettier/plugin-xml"],
	"printWidth": 100,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"singleAttributePerLine": true,
	"trailingComma": "none",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.{install,module,php}",
			"options": {
				"parser": "php"
			}
		},
		{
			"files": "phpunit.xml.dist",
			"options": {
				"parser": "xml"
			}
		}
	]
}
