parameters:
    level: 5
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    scanDirectories:
        - vendor/drupal/openid_connect/src
    ignoreErrors:
        - identifier: globalDrupalDependencyInjection.useDependencyInjection
