<?xml version="1.0" ?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	failOnRisky="true"
	failOnWarning="true"
	cacheDirectory=".phpunit.cache"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnPhpunitDeprecations="true"
	testdox="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/schema/11.4.xsd"
>
	<php>
		<ini
			name="memory_limit"
			value="2G"
		/>
		<ini
			name="max_execution_time"
			value="0"
		/>
		<env
			name="SIMPLETEST_DB"
			value="sqlite://localhost//tmp/mantle2-test.sqlite"
		/>
	</php>

	<testsuites>
		<testsuite name="Unit">
			<directory>tests/src/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory>tests/src/Integration</directory>
		</testsuite>
		<testsuite name="E2E">
			<directory>tests/src/E2E</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</source>
</phpunit>
