{"openapi":"3.1.0","info":{"title":"@earth-app/mantle","description":"Backend API for The Earth App","version":"1.0.0"},"servers":[{"url":"https://api.earth-app.com","description":"Production Server"},{"url":"http://127.0.0.1:8787","description":"Local Server"}],"components":{"securitySchemes":{"BasicAuth":{"type":"http","scheme":"basic"},"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"security":[{"BasicAuth":[]},{"BearerAuth":[]}],"paths":{"/v1/hello":{"get":{"responses":{"200":{"description":"Hello World response","content":{"text/plain":{"schema":{"type":"string","example":"Hello World"}}}}},"operationId":"getV1Hello","tags":["General"],"parameters":[],"summary":"A test route","description":"Say hello to the world"}},"/v1/info":{"get":{"responses":{"200":{"description":"Information about the API","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"mantle"},"title":{"type":"string","example":"Earth App"},"version":{"type":"string","example":"1.0.0"},"description":{"type":"string","example":"Backend API for The Earth App"},"date":{"type":"string","example":"2025-05-11"}},"required":["name","title","version","description","date"]}}}}},"operationId":"getV1Info","tags":["General"],"parameters":[],"summary":"Get information about the API","description":"Get information about the API"}},"/v1/shard_info":{"get":{"responses":{"200":{"description":"Information about the API","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"binding":{"type":"string"},"count":{"type":"number"}},"required":["binding","count"]}}}}}},"operationId":"getV1Shard_info","tags":["General"],"parameters":[],"summary":"Get information about the database shards","description":"Get information about the database shards"}},"/v1/health_check":{"get":{"responses":{"200":{"description":"Health check successful","content":{"application/json":{"schema":{"type":"object","properties":{"cache":{"type":"boolean"},"database":{"type":"object","properties":{"activities":{"type":"boolean"},"events":{"type":"boolean"},"users":{"type":"boolean"},"prompts":{"type":"boolean"},"authentication":{"type":"boolean"}},"required":["activities","events","users","prompts","authentication"]},"kv":{"type":"object","properties":{"articles":{"type":"boolean"}},"required":["articles"]}},"required":["cache","database","kv"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"500":{"description":"Health check failed","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","minimum":500,"maximum":500},"message":{"type":"string"}},"required":["code","message"]}}}}},"operationId":"getV1Health_check","tags":["General"],"parameters":[],"summary":"Perform a health check on the server [Admin Only]","description":"Performs a health check to ensure the server is running and accessible. In addition, validates the state of the database, KV, and other critical services."}},"/v1/users":{"get":{"responses":{"200":{"description":"List of users","content":{"application/json":{"schema":{"type":"object","properties":{"page":{"type":"integer","minimum":1,"example":1,"description":"Current page number"},"limit":{"type":"integer","minimum":1,"maximum":100,"example":25,"description":"Number of items per page"},"total":{"type":"integer","minimum":0,"example":100,"description":"Total number of items"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}},"description":"List of items on the current page"}},"required":["page","limit","total","items"],"description":"Paginated response","example":{"page":1,"limit":25,"total":100,"items":[{"id":"eb9137b1272938","username":"johndoe","created_at":"2025-05-11T10:00:00Z","updated_at":"2025-05-11T12:00:00Z"}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}}},"operationId":"getV1Users","tags":["Users"],"parameters":[{"name":"page","in":"query","description":"Page number (default: 1)","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"limit","in":"query","description":"Number of items per page (default: 25, max: 250)","required":false,"schema":{"type":"integer","minimum":1,"maximum":250,"default":25}},{"name":"search","in":"query","description":"Search query (max 40 characters)","required":false,"schema":{"type":"string","maxLength":40,"default":""}}],"summary":"Retrieve a paginated list of all users","description":"Gets a paginated list of all users in the Earth App."}},"/v1/users/login":{"post":{"responses":{"200":{"description":"Login successful","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"session_token":{"type":"string","minLength":37,"maxLength":37,"example":"4bHN3nxwb21bd1sm109s1nan28xm1bab2Js18","description":"The session token for the user"}},"required":["id","username","session_token"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}}},"operationId":"postV1UsersLogin","tags":["Users"],"parameters":[],"summary":"Login a user","description":"Logs in a user and returns an authentication token.","security":[{"BasicAuth":[]}]}},"/v1/users/logout":{"post":{"responses":{"200":{"description":"Logout successful","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Logout successful"},"session_token":{"type":"string","minLength":37,"maxLength":37,"example":"4bHN3nxwb21bd1sm109s1nan28xm1bab2Js18","description":"The session token for the user"},"user":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}},"required":["message","session_token"],"example":{"message":"Logout successful","session_token":"abc123xyz456"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}}},"operationId":"postV1UsersLogout","tags":["Users"],"parameters":[],"summary":"Logout a user","description":"Logs out a user and invalidates the authentication token.","security":[{"BearerAuth":[]}]}},"/v1/users/create":{"post":{"responses":{"201":{"description":"User created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}},"session_token":{"type":"string","minLength":37,"maxLength":37,"example":"4bHN3nxwb21bd1sm109s1nan28xm1bab2Js18","description":"The session token for the user"}},"required":["user","session_token"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}}},"operationId":"postV1UsersCreate","tags":["Users"],"parameters":[],"summary":"Create a new user","description":"Creates a new user within the Earth App","requestBody":{"description":"User object","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"username":{"type":"string","minLength":3,"maxLength":30,"pattern":"^[a-zA-Z0-9_.-]+$"},"password":{"type":"string","minLength":8,"maxLength":100,"pattern":"^[a-zA-Z0-9!@#$%^&*()_+={}\\[\\]:;\"'<>,.?\\/\\\\|-]+$"},"email":{"type":"string","format":"email"},"firstName":{"type":"string","minLength":1,"maxLength":30},"lastName":{"type":"string","minLength":1,"maxLength":30}},"required":["username","password"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}}}}}},"/v1/users/current":{"get":{"responses":{"200":{"description":"User retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}}},"operationId":"getV1UsersCurrent","tags":["Users"],"parameters":[],"summary":"Gets the current user","description":"Gets the user based on the provided Bearer token.","security":[{"BearerAuth":[]}]},"patch":{"responses":{"200":{"description":"User updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}}},"operationId":"patchV1UsersCurrent","tags":["Users"],"parameters":[],"summary":"Updates the current user","description":"Updates the user based on the provided Bearer token.","security":[{"BearerAuth":[]}],"requestBody":{"description":"User object partial","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"username":{"type":"string","minLength":3,"maxLength":30,"pattern":"^[a-zA-Z0-9_.-]+$"},"email":{"type":"string","format":"email"},"firstName":{"type":"string","minLength":1,"maxLength":30},"lastName":{"type":"string","minLength":1,"maxLength":30},"address":{"type":"string","maxLength":100},"bio":{"type":"string","maxLength":500},"country":{"type":"string","minLength":2,"maxLength":2},"phoneNumber":{"type":"integer","maximum":9999999999},"visibility":{"type":"string","enum":["PRIVATE","UNLISTED","PUBLIC"]}},"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}}}}},"delete":{"responses":{"204":{"description":"User deleted successfully"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}}},"operationId":"deleteV1UsersCurrent","tags":["Users"],"parameters":[],"summary":"Deletes the current user","description":"Deletes the user based on the provided Bearer token.","security":[{"BearerAuth":[]}]}},"/v1/users/current/field_privacy":{"patch":{"responses":{"200":{"description":"User visibility updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}}},"operationId":"patchV1UsersCurrentField_privacy","tags":["Users"],"parameters":[],"summary":"Change Field Privacy","description":"Change the visibility of account fields in the user account.","security":[{"BearerAuth":[]}],"requestBody":{"description":"Field privacy object","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"default":"PUBLIC"},"bio":{"$ref":"#/properties/name","default":"PUBLIC"},"phone_number":{"$ref":"#/properties/name","default":"PRIVATE"},"country":{"$ref":"#/properties/name","default":"PUBLIC"},"email":{"$ref":"#/properties/name","default":"CIRCLE"},"address":{"$ref":"#/properties/name","default":"PRIVATE"},"activities":{"$ref":"#/properties/name","default":"MUTUAL"},"events":{"$ref":"#/properties/name","default":"MUTUAL"},"friends":{"$ref":"#/properties/name","default":"MUTUAL"},"last_login":{"$ref":"#/properties/name","default":"CIRCLE"},"account_type":{"$ref":"#/properties/name","default":"PUBLIC"},"circle":{"$ref":"#/properties/name","default":"CIRCLE"}},"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}}}}}},"/v1/users/current/profile_photo":{"get":{"responses":{"200":{"description":"Profile photo","content":{"image/jpeg":{}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found"}},"operationId":"getV1UsersCurrentProfile_photo","tags":["Users"],"parameters":[],"summary":"Get a user's Profile Photo","description":"Returns the profile photo for the user.","security":[{"BearerAuth":[]}]},"put":{"responses":{"201":{"description":"Profile photo regenerated successfully","content":{"image/jpeg":{}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found"}},"operationId":"putV1UsersCurrentProfile_photo","tags":["Users"],"parameters":[],"summary":"Regenerate a user's Profile Photo","description":"Regenerates the profile photo for the user.","security":[{"BearerAuth":[]}]}},"/v1/users/current/account_type":{"put":{"responses":{"200":{"description":"Account type set successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found"}},"operationId":"putV1UsersCurrentAccount_type","tags":["Users"],"parameters":[{"name":"account_type","in":"query","required":true,"schema":{"type":"string","enum":["free","pro","writer","organizer","administrator"]}}],"summary":"Set Account Type [Admin Only]","description":"Sets the account type for the user. This is an admin-only operation.","security":[{"BearerAuth":[]}]}},"/v1/users/current/activities/add":{"put":{"responses":{"200":{"description":"Activity added successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User or Activity not found"},"409":{"description":"Duplicate entry","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":409},"message":{"type":"string","example":"Duplicate entry"}},"required":["code","message"]}}}}},"operationId":"putV1UsersCurrentActivitiesAdd","tags":["Users","Activities"],"parameters":[{"name":"activityId","in":"query","description":"ID of the activity to add","required":true,"schema":{}}],"summary":"Add an activity to a user","description":"Associates an activity with a user in the Earth App."}},"/v1/users/current/activities/remove":{"delete":{"responses":{"200":{"description":"Activity removed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User or Activity not found"}},"operationId":"deleteV1UsersCurrentActivitiesRemove","tags":["Users","Activities"],"parameters":[{"name":"activityId","in":"query","description":"ID of the activity to remove","required":true,"schema":{}}],"summary":"Remove an activity from a user","description":"Disassociates an activity from a user in the Earth App."}},"/v1/users/current/activities/set":{"patch":{"responses":{"200":{"description":"Activities updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User or Activity not found"}},"operationId":"patchV1UsersCurrentActivitiesSet","tags":["Users","Activities"],"parameters":[],"summary":"Set user activities","description":"Sets the activities associated with a user in the Earth App.","requestBody":{"description":"Activity IDs to set for the user","required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"$schema":"http://json-schema.org/draft-07/schema#"}}}}}},"/v1/users/current/activities/recommend":{"get":{"responses":{"200":{"description":"List of recommended activities","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"description":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"},"example":["HOBBY","SPORT"]},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"fields":{"type":"object","additionalProperties":{"type":"string"}}},"required":["id","name","types","created_at","fields"],"example":{"id":"hiking","name":"Hiking","description":"A fun outdoor activity","types":["HOBBY","SPORT"],"created_at":"2025-05-11T10:00:00Z","updated_at":"2025-05-11T12:00:00Z","fields":{"difficulty":"hard","elevation":"high"}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":400},"message":{"type":"string","example":"Bad Request"}},"required":["code","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"No activities available for recommendations"}},"operationId":"getV1UsersCurrentActivitiesRecommend","tags":["Users","Activities"],"parameters":[{"name":"poolLimit","in":"query","description":"Maximum number of activities to consider for recommendations","required":false,"schema":{"type":"integer","minimum":5,"default":25,"maximum":50,"description":"The maximum number of activities to recommend"}}],"summary":"Recommend activities for a user","description":"Provides a list of recommended activities based on user preferences and history."}},"/v1/users/current/friends":{"get":{"responses":{"200":{"description":"List of friends","content":{"application/json":{"schema":{"type":"object","properties":{"page":{"type":"integer","minimum":1,"example":1,"description":"Current page number"},"limit":{"type":"integer","minimum":1,"maximum":100,"example":25,"description":"Number of items per page"},"total":{"type":"integer","minimum":0,"example":100,"description":"Total number of items"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}},"description":"List of items on the current page"}},"required":["page","limit","total","items"],"description":"Paginated response","example":{"page":1,"limit":25,"total":100,"items":[{"id":"eb9137b1272938","username":"johndoe","created_at":"2025-05-11T10:00:00Z","updated_at":"2025-05-11T12:00:00Z"}]}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found"}},"operationId":"getV1UsersCurrentFriends","tags":["Users","User Friends"],"parameters":[],"summary":"Retrieve a user's friends","description":"Gets a list of friends for the authenticated user.","security":[{"BearerAuth":[]}]}},"/v1/users/current/friends/add":{"put":{"responses":{"200":{"description":"Friend added successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found"},"409":{"description":"Duplicate entry","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":409},"message":{"type":"string","example":"Duplicate entry"}},"required":["code","message"]}}}}},"operationId":"putV1UsersCurrentFriendsAdd","tags":["Users","User Friends"],"parameters":[{"name":"friendId","in":"query","description":"ID of the user to add as a friend","required":true,"schema":{"type":"string","minLength":24,"maxLength":24,"example":"eyb2cCNwc73b197cnsHbDqiU"}}],"summary":"Add a friend to the authenticated user","description":"Adds a user as a friend to the authenticated user.","security":[{"BearerAuth":[]}]}},"/v1/users/current/friends/remove":{"delete":{"responses":{"200":{"description":"Friend removed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found"}},"operationId":"deleteV1UsersCurrentFriendsRemove","tags":["Users","User Friends"],"parameters":[{"name":"friendId","in":"query","description":"ID of the user to remove from friends","required":true,"schema":{"type":"string","minLength":24,"maxLength":24,"example":"eyb2cCNwc73b197cnsHbDqiU"}}],"summary":"Remove a friend from the authenticated user","description":"Removes a user from the authenticated user's friends list.","security":[{"BearerAuth":[]}]}},"/v1/users/current/circle":{"get":{"responses":{"200":{"description":"List of users in the circle","content":{"application/json":{"schema":{"type":"object","properties":{"page":{"type":"integer","minimum":1,"example":1,"description":"Current page number"},"limit":{"type":"integer","minimum":1,"maximum":100,"example":25,"description":"Number of items per page"},"total":{"type":"integer","minimum":0,"example":100,"description":"Total number of items"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}},"description":"List of items on the current page"}},"required":["page","limit","total","items"],"description":"Paginated response","example":{"page":1,"limit":25,"total":100,"items":[{"id":"eb9137b1272938","username":"johndoe","created_at":"2025-05-11T10:00:00Z","updated_at":"2025-05-11T12:00:00Z"}]}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found"}},"operationId":"getV1UsersCurrentCircle","tags":["Users","User Friends"],"parameters":[],"summary":"Retrieve a user's circle","description":"Gets a list of users in the authenticated user's circle.","security":[{"BearerAuth":[]}]}},"/v1/users/current/circle/add":{"put":{"responses":{"200":{"description":"User added to circle successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found"},"409":{"description":"Duplicate entry","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":409},"message":{"type":"string","example":"Duplicate entry"}},"required":["code","message"]}}}}},"operationId":"putV1UsersCurrentCircleAdd","tags":["Users","User Friends"],"parameters":[{"name":"userId","in":"query","description":"ID of the user to add to the circle","required":true,"schema":{"type":"string","minLength":24,"maxLength":24,"example":"eyb2cCNwc73b197cnsHbDqiU"}}],"summary":"Add a user to the authenticated user's circle","description":"Adds a user to the authenticated user's circle.","security":[{"BearerAuth":[]}]}},"/v1/users/current/circle/remove":{"delete":{"responses":{"200":{"description":"User removed from circle successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":401},"message":{"type":"string","example":"Unauthorized"}},"required":["code","message"]}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found"}},"operationId":"deleteV1UsersCurrentCircleRemove","tags":["Users","User Friends"],"parameters":[{"name":"userId","in":"query","description":"ID of the user to remove from circle","required":true,"schema":{"type":"string","minLength":24,"maxLength":24,"example":"eyb2cCNwc73b197cnsHbDqiU"}}],"summary":"Remove a user from the authenticated user's circle","description":"Removes a user from the authenticated user's circle.","security":[{"BearerAuth":[]}]}},"/v1/users/{id}":{"get":{"responses":{"200":{"description":"User found","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"activities":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"events":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"friends":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"MUTUAL"},"last_login":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"account_type":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"circle":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"}},"required":["name","bio","phone_number","country","email","address","activities","events","friends","last_login","account_type","circle"],"example":{"name":"PUBLIC","bio":"PUBLIC","phone_number":"PRIVATE","country":"PUBLIC","email":"CIRCLE","address":"PRIVATE","activities":"PUBLIC","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC","circle":"CIRCLE"}}},"required":["type","id","username","email","visibility"]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"hiking"},"name":{"type":"string","example":"Hello World"},"types":{"type":"array","items":{"type":"string","enum":["HOBBY","SPORT","WORK","STUDY","TRAVEL","SOCIAL","RELAXATION","HEALTH","PROJECT","PERSONAL_GOAL","COMMUNITY_SERVICE","CREATIVE","FAMILY","HOLIDAY","ENTERTAINMENT","LEARNING","NATURE","TECHNOLOGY","ART","SPIRITUALITY","FINANCE","HOME_IMPROVEMENT","PETS","FASHION","OTHER"],"example":"HIKING"}}},"required":["id","name","types"]}}},"required":["id","username","created_at","updated_at","account","activities"],"example":{"id":"eb9137b1272938","username":"johndoe","created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","last_login":"1970-01-01T00:00:00.000Z","account":{"type":"com.earthapp.account.Account","id":"account123","username":"johndoe","email":"account@gmail.com","country":"US","phoneNumber":1234567890,"visibility":{"name":"PUBLIC","bio":"MUTUAL","email":"PRIVATE","address":"PRIVATE","activities":"CIRCLE","events":"PUBLIC","friends":"MUTUAL","last_login":"CIRCLE","account_type":"PUBLIC"}},"activities":[{"id":"hiking","name":"Hiking","types":["HOBBY","SPORT"]}]}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":403},"message":{"type":"string","example":"Forbidden"}},"required":["code","message"]}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"number","example":404},"message":{"type":"string","example":"User not found"}},"required":["code","message"]}}}}},"operationId":"getV1UsersById","tags":["Users"],"parameters":[{"name":"id","description":"User ID","in":"path","required":true,"schema":{"type":"string","minLength":24,"maxLength":24,"example":"eyb2cCNwc73b197cnsHbDqiU"}}],"summary":"Gets a user by ID","description":"Retrieves the user based on the provided User ID."},"patch":{"responses":{"200":{"description":"User updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"created_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"last_login":{"type":"string","format":"date-time","example":"2025-05-11T10:00:00Z"},"account":{"type":"object","properties":{"type":{"type":"string","example":"com.earthapp.account.Account"},"id":{"type":"string","minLength":24,"maxLength":24,"example":"ebfjwHLdiqBudn3eyd83g1bs"},"username":{"type":"string","pattern":"^[a-zA-Z0-9_.-]+$","minLength":3,"maxLength":30,"example":"johndoe"},"email":{"type":"string","format":"email","example":"me@company.com"},"country":{"type":"string"},"phoneNumber":{"type":"integer"},"visibility":{"type":"object","properties":{"name":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"bio":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"phone_number":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"},"country":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PUBLIC"},"email":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"CIRCLE"},"address":{"type":"string","enum":["PRIVATE","CIRCLE","MUTUAL","PUBLIC"],"example":"MUTUAL","default":"PRIVATE"
[...]
